In [1]:
#importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the dataset
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset['charges']

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [11]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor

param_grid = {'criterion':['mse','mae','friedman_mse'],
              'max_features':['auto','sqrt','log2'],
              'splitter':['best','random']}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(indep, dep)

C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done  39 out of  54 | elapsed:   13.3s remaining:    5.1s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   13.3s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [12]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_


print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'log2', 'splitter': 'best'}:

In [13]:
table = pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015371,0.000000,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.704065,0.657948,0.700457,0.687490,0.020941,7
1,0.015371,0.000000,0.000000,0.000000,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.698135,0.685484,0.745286,0.709635,0.025732,2
2,0.011089,0.006056,0.000000,0.000000,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.698284,0.667361,0.700704,0.688783,0.015180,6
3,0.000000,0.000000,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.748434,0.632391,0.640584,0.673803,0.052878,10
4,0.004503,0.006369,0.005581,0.005760,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.733098,0.749585,0.648356,0.710346,0.044347,1
5,0.006659,0.007252,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.683409,0.665616,0.637944,0.662323,0.018706,12
6,0.031906,0.002364,0.000000,0.000000,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.680458,0.729873,0.680189,0.696840,0.023358,5
7,0.033125,0.006452,0.001672,0.002364,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.684253,0.685870,0.733279,0.701134,0.022739,3
8,0.027598,0.005062,0.000000,0.000000,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.678474,0.634169,0.673857,0.662166,0.019887,13
9,0.016244,0.004158,0.003391,0.002424,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.682249,0.717346,0.651116,0.683570,0.027054,9
10,0.024988,0.003148,0.001506,0.001069,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.642936,0.717258,0.601576,0.653923,0.047862,15
11,0.020927,0.002293,0.001515,0.000643,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.664129,0.700415,0.639165,0.667903,0.025147,11
12,0.009579,0.002527,0.001326,0.000947,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.703226,0.655681,0.699645,0.686184,0.021619,8
13,0.002846,0.000599,0.000380,0.000537,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.706374,0.684923,0.700703,0.697334,0.009076,4
14,0.000000,0.000000,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.693148,0.635580,0.639178,0.655969,0.026331,14
15,0.000000,0.000000,0.004526,0.006401,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.599420,0.607503,0.609736,0.605553,0.004432,16
16,0.010057,0.004980,0.002010,0.001421,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.388266,0.690857,0.724416,0.601180,0.151175,18
17,0.000000,0.000000,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.632797,0.572378,0.603853,0.603010,0.024673,17

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:32
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[8413.46305]