In [1]:
#importing the Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the dataset
dataset=pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
indep=dataset[['age','bmi','children','sex_male','smoker_yes']]
dep=dataset['charges']

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(indep, dep, test_size=1/3, random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor 
param_grid={'criterion':['mse','mae'],
            'max_features': ['auto','sqrt','log2'],
            'n_estimators':[10,100]}

grid = GridSearchCV(RandomForestRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)

# fitting the model for grid search
grid.fit(X_train, y_train)

C:\Users\TamilaE\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done  34 out of  36 | elapsed:    4.3s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:    4.5s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
# print best parameter after tuning
#print(grid.best_params_)

re=grid.cv_results_
#print(re)
grid_predictions=grid.predict(X_test)

# print classification report
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)

print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8751711121969258

In [12]:
table = pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021641,0.001876,0.002688,0.000473,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.788053,0.794652,0.782001,0.788235,0.005164,7
1,0.205273,0.007230,0.011027,0.001659,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.793465,0.794109,0.796318,0.794629,0.001222,5
2,0.017813,0.001152,0.002163,0.000209,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.747936,0.779121,0.770951,0.765982,0.013210,12
3,0.162395,0.005286,0.010360,0.000255,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.809571,0.803673,0.796155,0.803140,0.005492,2
4,0.017607,0.000225,0.002845,0.000638,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.795686,0.792101,0.767305,0.785043,0.012617,8
5,0.259100,0.078007,0.035535,0.018171,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.799394,0.804003,0.793749,0.799049,0.004191,4
6,0.179900,0.075723,0.004511,0.002873,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.779940,0.773257,0.799955,0.784379,0.011338,9
7,1.052642,0.013442,0.007385,0.001338,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.789867,0.787202,0.788061,0.788378,0.001111,6
8,0.092471,0.029364,0.003180,0.001666,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.794897,0.776736,0.776475,0.782716,0.008628,10
9,0.606922,0.004697,0.008858,0.000473,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.806929,0.810513,0.797930,0.805126,0.005291,1
10,0.062088,0.001075,0.001669,0.000474,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.779772,0.739239,0.781623,0.766893,0.019552,11
11,0.541572,0.053012,0.007668,0.001247,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.801576,0.806473,0.792334,0.800129,0.005860,3

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:4
BMI:56
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[15074.2476144]